body {
  background: #f7f9fc;
}
.navbar-brand {
  font-weight: 700;
}
.list-group-item {
  border-left: 0;
  border-right: 0;
}
.card {
  border: 0;
}
.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: inline-block;
}
